.game-board{
    margin-left: 15px;
}

.Board-row{
    float: left;
}
.square{
    border: 1px solid gray;
    padding: 0 10px;
    height: 48px;
    width: 24px;
}

.game-info{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}

.status{
    margin-bottom: 17px;
}